@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    color: #FFD700;
    background-color: #3357FF;
    padding: 25px 0px 25px;
    margin: 0px;
    text-align: center;
    text-shadow: -7px 5px 0 #000;
}

h1 {
    font-size: 100px;
    margin: 0px;
    font-family: "Bangers", sans-serif;
    font-weight: 400;
}

.game-board {
    background-color: #FFD700;
    margin: 0px;
    padding: 50px 0px 50px 0px;
}

.row-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.choice-scissors {
    margin-right: 28px;
    padding: 0px;
}

.choice-rock {
    padding: 0px;
}

.choice-paper {
    margin-left: 78px;
    margin-right: 175px;
    padding: 0px;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 110px;
    justify-content: center;
}

p {
    margin-bottom: 0px;
    font-family: "Bangers", sans-serif;
    color: #FF5733;
    font-size: 50px;
    text-align: center;
    text-shadow: -4px 4px 0 #000;
}

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-content {
    background: #FFD700;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: -8px 8px 0 #000;
    font-family: "Bangers", sans-serif;
    text-align: center;
}

.overlay-content p {
    margin: 20px;
    font-size: 100px;
    text-shadow: -7px 5px 0 #000;
}

.overlay-content button {
    margin-bottom: 20px;
    font-family: "Bangers", sans-serif;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    background-color: #3357FF;
    color:#FFD700;
    box-shadow: -4px 4px #000;
}
.hidden {
    display: none;
}