@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');

header {
    color: antiquewhite;
    background-color: #38444d;
    padding: 20px;
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0px;
    font-family: "Sofia", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.game-board {
    margin: 75px 0px 50px 0px;
    padding: 0px;
}

.row-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.choice-scissors {
    margin-right: 28px;
    padding: 0px;
}

.choice-rock {
    padding: 0px;
}

.choice-paper {
    margin-left: 78px;
    margin-right: 175px;
    padding: 0px;
}

.score {
    display: flex;
    flex-direction: row;
    gap: 110px;
    justify-content: center;
}

.score p {
    font-size: 50px;
    text-align: center;
}